AI-Powered Vehicle Insurance Claim Approval Workflow (OpenAI + OCR + PDF API Hub).json
{
  "name": "AI-Powered Vehicle Insurance Claim Approval Workflow (OpenAI + OCR + PDF API Hub)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚗 AI-Powered Vehicle Insurance Claim Approval Workflow (OpenAI + OCR + PDF API Hub)\n\n\n**What this workflow does:**\n1. Monitors Gmail for incoming claim emails (subject contains \"insurance claim\" + has PDF attachment)\n2. Checks if the email was already processed — skips duplicates and notifies you\n3. Extracts PDF attachment and parses claim text (PDF API Hub – Parse PDF to JSON) . \n4. Routes to AI evaluator — either **Mock** (for testing) or **OpenAI GPT-4o-mini** (production)\nUse config (ai_mode -> mock / openai to use this)\n5. Makes a decision and routes the claim to one of three paths:\n   - ✅ **Approved** → generates approval letter PDF, signs it, stamps APPROVED watermark, uploads to Drive, emails claimant\n   - ❌ **Rejected** → generates rejection letter PDF, stamps REJECTED watermark, uploads to Drive, emails claimant\n   - 🔍 **Manual Review** → notifies the claims adjuster for human review\n6. Every claim is logged to a Google Sheet for tracking\n\n**⚙️ Configuration (edit the Workflow Config node):**\n- `self_email` — your email for duplicate-claim alerts\n- `claims_adjuster_email` — manual review recipient\n- `ai_mode` — `mock` (testing) or `openai` (production)\n- `mock_decision` — `APPROVED` | `REJECTED` | `MANUAL_REVIEW` (only used in mock mode)\n- `company_name`, `support_phone`, `appeals_email` — used in generated claim approved/rejected PDF\n\n\n**Google Sheet Setup:**\nCreate a sheet and add a tab with these headers in row 1:\n\n| claim_id | claimant_name | claimant_email | claim_type | decision | approved_amount | reasoning | risk_flags | summary | processed_at | email_message_id |\n\nSample Google Sheet (feel free to clone) - https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit?usp=sharing\n\nCheck All Google Sheet Node and select Sheet you created and sheet name.\n\n\n**Google Drive Setup:**\nTwo folders required - Approved Claims and Rejected Claims - Configure them in Google Drive Node\n\n**Credentials needed:**\n- Google Drive OAuth2 (for uploading processed claim PDFs)\n- Google Sheets OAuth2\n- Gmail OAuth2\n- OpenAI API key (only needed when `ai_mode = openai`)\n- PDF API Hub API key (get one at pdfapihub.com - Free for 30 api calls)\n\n\n**PDF API Hub nodes used:**\n- Parse PDF (extract claim text)\n- HTML to PDF (generate letters) ×2\n- Sign PDF (authorized signature on approval letter)\n- Add Watermark (APPROVED / REJECTED stamps) ×2\n\n**Customization tips:**\n- Edit the AI system prompt in \"AI Claim Evaluator (OpenAI)\" to match your underwriting rules\n- Change `mock_decision` in Workflow Config to test all three decision paths without API calls\n- Edit HTML in the letter-generation nodes to match your branding\n- Update `claims_adjuster_email` in Workflow Config to your team's inbox",
        "height": 1180,
        "width": 740,
        "color": 4
      },
      "id": "bdca5096-ae11-40aa-b3a8-4c40ee38b1ed",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✅ Approved Path — Generate letter → Sign → Watermark \"APPROVED\" → Upload → Email claimant",
        "height": 100,
        "width": 1540,
        "color": 5
      },
      "id": "d7e8ccd8-e4c9-4dca-9b82-bf1872f012e0",
      "name": "Sticky Note - Approved Path",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ❌ Rejected Path — Generate rejection letter → Watermark \"REJECTED\" → Upload → Email claimant",
        "height": 100,
        "width": 1260,
        "color": 3
      },
      "id": "2bd4f13b-7c63-4c37-9c20-9247510669a6",
      "name": "Sticky Note - Rejected Path",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:\"insurance claim\" has:attachment"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "dfcf886e-9b88-45a7-9049-19ed7de61fb9",
      "name": "New Claim Uploaded",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1152,
        1856
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "pdfParsing",
        "parse_input_type": "file",
        "parse_file_binary_property": "={{ $('New Claim Uploaded').item.binary[\n  Object.keys($('New Claim Uploaded').item.binary)\n    .find(key => $('New Claim Uploaded').item.binary[key].mimeType === 'application/pdf')\n] }}",
        "parse_mode": "full"
      },
      "id": "0f401592-1cea-48f5-8ecb-875f0f7413d5",
      "name": "Extract Claim Data",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        1632,
        1856
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = items[0].json.text  || items[0].json.response  || items[0].json.message?.content  || (items[0].json.choices && items[0].json.choices[0]?.message?.content)  || '';let parsed;\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  parsed = {\n    decision: 'MANUAL_REVIEW',\n    reasoning: 'AI response could not be parsed — forwarding for human review.',\n    approved_amount: null,\n    risk_flags: ['parse_error'],\n    claimant_name: 'Unknown',\n    claimant_email: '',\n    claim_type: 'unknown',\n    summary: aiResponse.substring(0, 200)\n  };\n}\n\nparsed.claim_id = 'CLM-' + Date.now();\nparsed.processed_at = new Date().toISOString();\nparsed.email_message_id = $('New Claim Uploaded').item.json.id || '';\n\nreturn [{ json: parsed }];"
      },
      "id": "0a6e41a8-9673-4e8c-b1b5-0ff063b8a13e",
      "name": "Parse AI Decision",
      "type": "n8n-nodes-base.code",
      "position": [
        2176,
        1856
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc",
          "mode": "list",
          "cachedResultName": "Auto Insurance Claim Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 327001765,
          "mode": "list",
          "cachedResultName": "sample-claims-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit#gid=327001765"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claimant_name",
              "displayName": "claimant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claimant_email",
              "displayName": "claimant_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claim_type",
              "displayName": "claim_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_amount",
              "displayName": "approved_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_flags",
              "displayName": "risk_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_message_id",
              "displayName": "email_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eb7c7ff1-3d4a-46fa-9e84-d299b2f7932a",
      "name": "Log Claim to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2416,
        1856
      ],
      "typeVersion": 4,
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3fa68128-3b21-46b8-8cd4-cd410e4d0ba9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "REJECTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bec1de72-9884-478d-adad-067f4c1ecd38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3fcf266d-4324-4367-9313-f135b2f2511e",
      "name": "Route by Decision",
      "type": "n8n-nodes-base.switch",
      "position": [
        2656,
        1856
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "htmlToPdf",
        "html_content": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { font-family: 'Inter', Arial, sans-serif; color: #222; padding: 48px 56px; line-height: 1.6; }\n  .header { display: flex; justify-content: space-between; align-items: flex-start; border-bottom: 3px solid #1a5276; padding-bottom: 18px; margin-bottom: 32px; }\n  .company { font-size: 22px; font-weight: 700; color: #1a5276; }\n  .company-sub { font-size: 12px; color: #666; margin-top: 4px; }\n  .ref { text-align: right; font-size: 12px; color: #555; }\n  .ref strong { color: #222; }\n  .stamp { display: inline-block; border: 3px solid #27ae60; color: #27ae60; padding: 8px 28px; font-size: 26px; font-weight: 700; transform: rotate(-3deg); border-radius: 6px; margin: 24px 0; letter-spacing: 2px; }\n  .section { background: #f4f8f4; border-left: 4px solid #27ae60; padding: 16px 20px; border-radius: 4px; margin: 20px 0; }\n  .section h3 { font-size: 14px; color: #1a5276; margin-bottom: 8px; text-transform: uppercase; letter-spacing: 0.5px; }\n  .section p { font-size: 13px; color: #333; }\n  .amount { font-size: 28px; font-weight: 700; color: #27ae60; }\n  .footer { margin-top: 48px; font-size: 11px; color: #999; border-top: 1px solid #ddd; padding-top: 16px; }\n  p { margin-bottom: 12px; font-size: 14px; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <div>\n      <div class=\"company\">AutoGuard Insurance Co.</div>\n      <div class=\"company-sub\">Claims Processing Department</div>\n    </div>\n    <div class=\"ref\">\n      <strong>Claim ID:</strong> {{ $json.claim_id }}<br/>\n      <strong>Date:</strong> {{ $json.processed_at.split('T')[0] }}<br/>\n      <strong>Type:</strong> {{ $json.claim_type }}\n    </div>\n  </div>\n\n  <p>Dear <strong>{{ $json.claimant_name }}</strong>,</p>\n\n  <div class=\"stamp\">✓ CLAIM APPROVED</div>\n\n  <p>We are pleased to inform you that your insurance claim has been reviewed and <strong>approved</strong>.</p>\n\n  <div class=\"section\">\n    <h3>Approved Amount</h3>\n    <p class=\"amount\">${{ $json.approved_amount }}</p>\n  </div>\n\n  <div class=\"section\">\n    <h3>Decision Summary</h3>\n    <p>{{ $json.reasoning }}</p>\n  </div>\n\n  <p>The approved amount will be disbursed to your registered bank account within <strong>5–7 business days</strong>. If you have any questions, please contact our claims helpline at <strong>1-800-555-CLAIM</strong> referencing your Claim ID above.</p>\n\n  <p style=\"margin-top: 32px;\">Sincerely,</p>\n  <p><strong>Claims Approval Authority</strong><br/>AutoGuard Insurance Co.</p>\n\n  <div class=\"footer\">\n    This document was automatically generated and digitally signed. Reference: {{ $json.claim_id }} | AutoGuard Insurance Co. — All Rights Reserved.\n  </div>\n</body>\n</html>",
        "font": "Inter",
        "output_format": "file",
        "output_filename": "=approval-{{ $json.claim_id }}.pdf",
        "dynamic_params": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "advancedOptions": {}
      },
      "id": "3fc94274-3286-46d7-846d-916e1893001f",
      "name": "Generate Approval Letter",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        2928,
        1600
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "watermark",
        "sign_pdf_input_type": "file",
        "sign_sig_input_type": "text",
        "sign_text": "Claims Dept.",
        "sign_color": "#1a0dab",
        "sign_font_size": 36,
        "sign_date_stamp": true,
        "sign_all_pages": false,
        "signAdvancedOptions": {}
      },
      "id": "4dcffea6-aab4-41fb-9745-b76200bcf50e",
      "name": "Sign Approval Letter",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        3184,
        1600
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "watermark",
        "operation": "addWatermark",
        "watermark_input_type": "file",
        "watermark_text": "APPROVED",
        "watermark_opacity": 0.08,
        "watermarkAdvancedOptions": {
          "color": "#27ae60"
        }
      },
      "id": "514be746-33d2-4c00-99c6-f2afc3dca46c",
      "name": "Add APPROVED Stamp",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        3456,
        1600
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "name": "={{ $('Parse AI Decision').item.json.claim_id }}-approved.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bVgF_2p2eJsiSq6_1wPWFXjAWGSqXABg",
          "mode": "list",
          "cachedResultName": "Approved Claims",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bVgF_2p2eJsiSq6_1wPWFXjAWGSqXABg"
        },
        "options": {}
      },
      "id": "1cf8a39b-3e25-4286-b309-eff6394419b7",
      "name": "Upload Approved Claim",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3712,
        1600
      ],
      "typeVersion": 3,
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse AI Decision').item.json.claimant_email }}",
        "subject": "=✅ Insurance Claim {{ $('Parse AI Decision').item.json.claim_id }} — Approved",
        "message": "=<h2>Your Claim Has Been Approved</h2><p>Dear {{ $('Parse AI Decision').item.json.claimant_name }},</p><p>Your insurance claim <strong>{{ $('Parse AI Decision').item.json.claim_id }}</strong> has been reviewed and <strong>approved</strong> for <strong>${{ $('Parse AI Decision').item.json.approved_amount }}</strong>.</p><p>{{ $('Parse AI Decision').item.json.reasoning }}</p><p>Funds will be disbursed within 5–7 business days.</p><p>Regards,<br/>AutoGuard Insurance Co.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c3965739-54ed-4962-8eb1-62ad4ccf4cf9",
      "name": "Email Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3968,
        1600
      ],
      "typeVersion": 2.1,
      "webhookId": "042cf1e4-424e-4b65-9791-042878f2e00d",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "htmlToPdf",
        "html_content": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { font-family: 'Inter', Arial, sans-serif; color: #222; padding: 48px 56px; line-height: 1.6; }\n  .header { display: flex; justify-content: space-between; align-items: flex-start; border-bottom: 3px solid #1a5276; padding-bottom: 18px; margin-bottom: 32px; }\n  .company { font-size: 22px; font-weight: 700; color: #1a5276; }\n  .company-sub { font-size: 12px; color: #666; margin-top: 4px; }\n  .ref { text-align: right; font-size: 12px; color: #555; }\n  .ref strong { color: #222; }\n  .stamp { display: inline-block; border: 3px solid #e74c3c; color: #e74c3c; padding: 8px 28px; font-size: 26px; font-weight: 700; transform: rotate(-3deg); border-radius: 6px; margin: 24px 0; letter-spacing: 2px; }\n  .section { background: #fdf4f4; border-left: 4px solid #e74c3c; padding: 16px 20px; border-radius: 4px; margin: 20px 0; }\n  .section h3 { font-size: 14px; color: #1a5276; margin-bottom: 8px; text-transform: uppercase; letter-spacing: 0.5px; }\n  .section p { font-size: 13px; color: #333; }\n  .flags { background: #fff8e1; border-left: 4px solid #f39c12; padding: 16px 20px; border-radius: 4px; margin: 20px 0; }\n  .flags h3 { font-size: 14px; color: #e67e22; margin-bottom: 8px; }\n  .flags ul { margin: 0; padding-left: 20px; font-size: 13px; color: #333; }\n  .footer { margin-top: 48px; font-size: 11px; color: #999; border-top: 1px solid #ddd; padding-top: 16px; }\n  p { margin-bottom: 12px; font-size: 14px; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <div>\n      <div class=\"company\">AutoGuard Insurance Co.</div>\n      <div class=\"company-sub\">Claims Processing Department</div>\n    </div>\n    <div class=\"ref\">\n      <strong>Claim ID:</strong> {{ $json.claim_id }}<br/>\n      <strong>Date:</strong> {{ $json.processed_at.split('T')[0] }}<br/>\n      <strong>Type:</strong> {{ $json.claim_type }}\n    </div>\n  </div>\n\n  <p>Dear <strong>{{ $json.claimant_name }}</strong>,</p>\n\n  <div class=\"stamp\">✗ CLAIM DENIED</div>\n\n  <p>After careful review, we regret to inform you that your insurance claim has been <strong>denied</strong>.</p>\n\n  <div class=\"section\">\n    <h3>Reason for Denial</h3>\n    <p>{{ $json.reasoning }}</p>\n  </div>\n\n  <div class=\"flags\">\n    <h3>Risk Flags Identified</h3>\n    <ul>\n      <li>{{ $json.risk_flags.join('</li><li>') }}</li>\n    </ul>\n  </div>\n\n  <p>You have the right to appeal this decision within <strong>30 calendar days</strong> of this notice. To file an appeal, contact our appeals department at <strong>1-800-555-APPEAL</strong> or email <strong>appeals@autoguard-insurance.com</strong> with your Claim ID.</p>\n\n  <p style=\"margin-top: 32px;\">Sincerely,</p>\n  <p><strong>Claims Review Authority</strong><br/>AutoGuard Insurance Co.</p>\n\n  <div class=\"footer\">\n    This document was automatically generated. Reference: {{ $json.claim_id }} | AutoGuard Insurance Co. — All Rights Reserved.\n  </div>\n</body>\n</html>",
        "font": "Inter",
        "output_format": "file",
        "output_filename": "=rejection-{{ $json.claim_id }}.pdf",
        "dynamic_params": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "advancedOptions": {}
      },
      "id": "c673cc31-788b-4704-b2f2-5b295d7b9cc7",
      "name": "Generate Rejection Letter",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        2928,
        2064
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "watermark",
        "operation": "addWatermark",
        "watermark_input_type": "file",
        "watermark_text": "REJECTED",
        "watermark_opacity": 0.08,
        "watermarkAdvancedOptions": {
          "color": "#e74c3c"
        }
      },
      "id": "feb9e959-7725-4e4c-8229-0eea44a33fb1",
      "name": "Add REJECTED Stamp",
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "position": [
        3184,
        2064
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "name": "={{ $('Parse AI Decision').item.json.claim_id }}-rejected.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GzqaUcDQpvQNCuCcW1P29f5uwRoZUG7l",
          "mode": "list",
          "cachedResultName": "Rejected Claims",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GzqaUcDQpvQNCuCcW1P29f5uwRoZUG7l"
        },
        "options": {}
      },
      "id": "f957caa7-719f-4853-a345-effed7a20a98",
      "name": "Upload Rejected Claim",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3456,
        2064
      ],
      "typeVersion": 3,
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse AI Decision').item.json.claimant_email }}",
        "subject": "=❌ Insurance Claim {{ $('Parse AI Decision').item.json.claim_id }} — Denied",
        "message": "=<h2>Claim Decision Notice</h2><p>Dear {{ $('Parse AI Decision').item.json.claimant_name }},</p><p>Your insurance claim <strong>{{ $('Parse AI Decision').item.json.claim_id }}</strong> has been reviewed and unfortunately has been <strong>denied</strong>.</p><p><strong>Reason:</strong> {{ $('Parse AI Decision').item.json.reasoning }}</p><p>You may appeal this decision within 30 days. Please contact our appeals department at 1-800-555-APPEAL.</p><p>Regards,<br/>AutoGuard Insurance Co.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e0c47d9f-44f3-4674-8985-7dab69faa785",
      "name": "Email Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3712,
        2064
      ],
      "typeVersion": 2.1,
      "webhookId": "9267165e-5a1f-4dad-b9b1-8877ebf4dde8",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Config').item.json.claims_adjuster_email }}",
        "subject": "=🔍 Manual Review Required — {{ $json.claim_id }}",
        "message": "=<h2>Claim Requires Manual Review</h2><p>A claim has been flagged for human review by the automated system.</p><table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse; font-family:sans-serif; font-size:14px;'><tr><td><strong>Claim ID</strong></td><td>{{ $json.claim_id }}</td></tr><tr><td><strong>Claimant</strong></td><td>{{ $json.claimant_name }}</td></tr><tr><td><strong>Email</strong></td><td>{{ $json.claimant_email }}</td></tr><tr><td><strong>Type</strong></td><td>{{ $json.claim_type }}</td></tr><tr><td><strong>AI Reasoning</strong></td><td>{{ $json.reasoning }}</td></tr><tr><td><strong>Risk Flags</strong></td><td>{{ $json.risk_flags.join(', ') }}</td></tr></table><p style='margin-top:16px;'>Please review the original claim in the <strong>Claims Inbox</strong> Google Drive folder and update the tracking sheet.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9f7fbe2b-4192-4bb4-91ef-9d4a2809f80a",
      "name": "Notify Claims Adjuster",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2928,
        2320
      ],
      "typeVersion": 2.1,
      "webhookId": "a32da18e-85a7-445d-8f78-1b4d93f96b07",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc",
          "mode": "list",
          "cachedResultName": "Auto Insurance Claim Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 327001765,
          "mode": "list",
          "cachedResultName": "sample-claims-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit#gid=327001765"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "claim_id"
          ],
          "schema": [
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "claimant_name",
              "displayName": "claimant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claimant_email",
              "displayName": "claimant_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claim_type",
              "displayName": "claim_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_amount",
              "displayName": "approved_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_flags",
              "displayName": "risk_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_message_id",
              "displayName": "email_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "34c3c24f-e839-4285-b2f8-8446807896c4",
      "name": "Update Sheet - Approved",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4224,
        1600
      ],
      "typeVersion": 4.7,
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc",
          "mode": "list",
          "cachedResultName": "Auto Insurance Claim Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 327001765,
          "mode": "list",
          "cachedResultName": "sample-claims-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit#gid=327001765"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "claim_id"
          ],
          "schema": [
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "claimant_name",
              "displayName": "claimant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claimant_email",
              "displayName": "claimant_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claim_type",
              "displayName": "claim_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_amount",
              "displayName": "approved_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_flags",
              "displayName": "risk_flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_message_id",
              "displayName": "email_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb2d97f6-32fa-4dcd-b06c-a0151f1162a2",
      "name": "Update Sheet - Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3968,
        2064
      ],
      "typeVersion": 4.7,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// ✅ Mock AI — controlled by Workflow Config node\n// Set mock_decision in Workflow Config: 'APPROVED' | 'REJECTED' | 'MANUAL_REVIEW'\nconst mockDecision = $('Workflow Config').item.json.mock_decision || 'APPROVED';\n\nconst response = {\n  decision: mockDecision,\n  reasoning: 'Claim is valid. Police report confirms fault of other party. Documentation is complete with repair estimate, medical records, and towing receipt. Amount is within policy limits.',\n  approved_amount: mockDecision === 'APPROVED' ? 10405 : null,\n  risk_flags: mockDecision === 'MANUAL_REVIEW' ? ['high_value', 'missing_witness'] : mockDecision === 'REJECTED' ? ['insufficient_documentation', 'coverage_mismatch'] : [],\n  claimant_name: 'James A. Mitchell',\n  claimant_email: 'james.mitchell@email.com',\n  claim_type: 'collision',\n  summary: 'Collision claim — other driver ran red light, front-end damage, $10,405 total'\n};\n\nreturn [{ json: { text: JSON.stringify(response) } }];"
      },
      "id": "70bccebb-e4a9-4df9-99d6-0e5310976894",
      "name": "Mock AI Evaluator",
      "type": "n8n-nodes-base.code",
      "position": [
        2160,
        2064
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Workflow Config').item.json.ai_mode }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aimode-cond-0001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenAI"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6bbeee77-1bf2-43ec-9ab1-814ff628e37c",
      "name": "AI Mode Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        1904,
        1856
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"self_email\": \"your-email@example.com\",\n  \"claims_adjuster_email\": \"adjuster@example.com\",\n  \"company_name\": \"Your Insurance Company\",\n  \"support_phone\": \"+1-555-123-4567\",\n  \"appeals_email\": \"appeals@example.com\",\n  \"ai_mode\": \"mock\",\n  \"mock_decision\": \"REJECTED\",\n  \"sheet_tab_name\": \"Claims\"\n}",
        "options": {}
      },
      "id": "a30b50ad-3c90-4494-85cc-c664d0387981",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        1648
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc",
          "mode": "list",
          "cachedResultName": "Auto Insurance Claim Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 327001765,
          "mode": "list",
          "cachedResultName": "sample-claims-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oSSANnNBTqP9I4pTgXvvvKgqoCKiLaRTrNkvYnO11kc/edit#gid=327001765"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_message_id",
              "lookupValue": "={{ $('New Claim Uploaded').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b422d79c-ca99-4d5f-bc95-b419ef42bc21",
      "name": "Check Duplicate in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1632,
        1648
      ],
      "typeVersion": 4,
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dup-cond-0001",
              "leftValue": "={{ $json.email_message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "485b0b39-a3bc-4d55-af53-9f2c15f11ade",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "position": [
        1872,
        1648
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Config').item.json.self_email }}",
        "subject": "=⚠️ Duplicate Claim Detected — {{ $('New Claim Uploaded').item.json.subject }}",
        "message": "=<h2>Duplicate Claim — Already Processed</h2><p>A claim email that was previously processed was received again and has been <strong>skipped automatically</strong>.</p><table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse;font-family:sans-serif;font-size:14px;'><tr><td><strong>Email Subject</strong></td><td>{{ $('New Claim Uploaded').item.json.subject }}</td></tr><tr><td><strong>From</strong></td><td>{{ $('New Claim Uploaded').item.json.from }}</td></tr><tr><td><strong>Gmail Message ID</strong></td><td>{{ $('New Claim Uploaded').item.json.id }}</td></tr><tr><td><strong>Original Claim ID</strong></td><td>{{ $json.claim_id }}</td></tr><tr><td><strong>Originally Processed At</strong></td><td>{{ $json.processed_at }}</td></tr><tr><td><strong>Original Decision</strong></td><td>{{ $json.decision }}</td></tr></table><p>No further processing has occurred. To reprocess, remove the existing row from the claims sheet and resend the email.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "2970b98b-12c1-4c58-bd97-9e318c458609",
      "name": "Notify - Already Processed",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2112,
        1520
      ],
      "typeVersion": 2.1,
      "webhookId": "b44da18e-85a7-4455-8f78-1b4d93f96c09",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an experienced insurance claims adjuster AI. Evaluate the following claim data and make a decision.\n\nCLAIM DATA:\n{{ JSON.stringify($json, null, 2) }}\n\nEVALUATION RULES:\n- APPROVED: Claim is valid, documentation is complete, damage matches the policy type, no fraud indicators\n- REJECTED: Claim falls outside policy coverage, insufficient documentation, clear fraud indicators, or exceeds policy limits\n- MANUAL_REVIEW: Ambiguous cases, high-value claims (>$50,000), possible but unconfirmed fraud, or missing critical information\n\nRISK FLAGS to check:\n- Inconsistent dates (accident date vs report date gap >30 days)\n- Vague damage descriptions\n- Multiple recent claims from same claimant\n- Damage amount seems inflated\n- Missing police report for accident claims\n\nReturn ONLY a valid JSON object with this exact structure:\n{\n  \"decision\": \"APPROVED\" or \"REJECTED\" or \"MANUAL_REVIEW\",\n  \"reasoning\": \"2-3 sentence explanation\",\n  \"approved_amount\": number or null,\n  \"risk_flags\": [\"flag1\", \"flag2\"],\n  \"claimant_name\": \"extracted name or Unknown\",\n  \"claimant_email\": \"extracted email or empty string\",\n  \"claim_type\": \"collision/comprehensive/liability/property/medical/other\",\n  \"summary\": \"one-line claim summary\"\n}\n\nOUTPUT (STRICT): Only the JSON object, nothing else.",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "id": "2fe72ebf-a59b-4e60-80cd-cbda6658a50a",
      "name": "AI Claim Evaluator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2352,
        1584
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 1000
        }
      },
      "id": "4d273d07-9565-4385-8f4f-9a0c7481bb00",
      "name": "OpenAI GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2352,
        1744
      ],
      "typeVersion": 1.3,
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "New Claim Uploaded": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Claim Data": {
      "main": [
        [
          {
            "node": "AI Mode Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Mode Router": {
      "main": [
        [
          {
            "node": "AI Claim Evaluator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock AI Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision": {
      "main": [
        [
          {
            "node": "Log Claim to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Claim to Sheet": {
      "main": [
        [
          {
            "node": "Route by Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Decision": {
      "main": [
        [
          {
            "node": "Generate Approval Letter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Rejection Letter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Claims Adjuster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Approval Letter": {
      "main": [
        [
          {
            "node": "Sign Approval Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Approval Letter": {
      "main": [
        [
          {
            "node": "Add APPROVED Stamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add APPROVED Stamp": {
      "main": [
        [
          {
            "node": "Upload Approved Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Approved Claim": {
      "main": [
        [
          {
            "node": "Email Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approval": {
      "main": [
        [
          {
            "node": "Update Sheet - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Rejection Letter": {
      "main": [
        [
          {
            "node": "Add REJECTED Stamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add REJECTED Stamp": {
      "main": [
        [
          {
            "node": "Upload Rejected Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Rejected Claim": {
      "main": [
        [
          {
            "node": "Email Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Rejection": {
      "main": [
        [
          {
            "node": "Update Sheet - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock AI Evaluator": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Check Duplicate in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate in Sheet": {
      "main": [
        [
          {
            "node": "Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed?": {
      "main": [
        [
          {
            "node": "Notify - Already Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Claim Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Claim Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Claim Evaluator": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5f1caec0-d831-4e02-9613-8f783f56ae88",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
