e-sign-pdf-n8n.json
{
  "name": "Auto E-Sign PDF",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "E-Sign Document"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-432, 432],
      "id": "3a67a97f-e36c-4465-a987-e35fcbfe942a",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-144, 432],
      "id": "cdf06253-76d2-4048-95bf-241ebc43774c",
      "name": "Download file"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "signature_url",
              "value": "={{ $workflow.settings.signature_url }}"
            },
            {
              "name": "output",
              "value": "drive"
            },
            {
              "name": "email",
              "value": ""
            }
          ],
          "number": [
            {
              "name": "sign_x",
              "value": 100
            },
            {
              "name": "sign_y",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "2ff73d00-e9db-4d50-9a04-18d232503c41",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [96, 432]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $binary.data.fileExtension }}",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "189a2a9f-a62e-4781-ba52-5a0fc124a522",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [304, 432]
    },
    {
      "parameters": {
        "resource": "watermark",
        "sign_pdf_input_type": "file",
        "sign_signature_url": "={{ $json.signature_url }}",
        "sign_position": "custom",
        "sign_x": "={{ $json.sign_x }}",
        "sign_y": "={{ $json.sign_y }}",
        "signAdvancedOptions": {}
      },
      "type": "n8n-nodes-pdf-api-hub.pdfSplitMerge",
      "typeVersion": 1,
      "position": [512, 400],
      "id": "be503797-8909-4378-a1b3-24fc3c4cfa1f",
      "name": "Sign a PDF with a signature image"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "drive",
              "operation": "equal",
              "value1": "={{ $json.output }}"
            },
            {
              "value2": "email",
              "operation": "equal",
              "value1": "={{ $json.output }}"
            }
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "50f9cc36-cccc-48ea-9468-69da16f6161f",
      "name": "Output Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [704, 432]
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Signed PDFs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [896, 368],
      "id": "d9f603b4-2d97-4f85-839a-03a20668feb8",
      "name": "Upload file"
    },
    {
      "parameters": {
        "fromEmail": "={{ $workflow.settings.from_email }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Signed PDF",
        "text": "Your document is signed.",
        "options": {}
      },
      "id": "6b66c13b-7c24-48ec-89d5-dee44b5eb914",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [896, 528]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "signed"
            },
            {
              "name": "file",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51d6865f-c07c-496f-98af-891061cd8d71",
      "name": "Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1104, 432]
    },
    {
      "parameters": {
        "content": "## ⚙️ Config — Start Here\n\nSet these values before activating:\n\n**`signature_url`** → Public URL of your signature image (PNG with transparent background recommended)\n\n**`sign_x` / `sign_y`** → Pixel coordinates for signature placement on the PDF\n\n**`output`** → Set to `drive` to save signed PDF to Google Drive, or `email` to send it via email\n\n**`email`** → Required only if output = `email`. The recipient's address.",
        "height": 260,
        "width": 340,
        "color": 3
      },
      "id": "sticky-config",
      "name": "Sticky Note - Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 160]
    },
    {
      "parameters": {
        "content": "## 🔌 Credentials Needed\n\n1. **Google Drive OAuth2** — connect to the Google Drive nodes (trigger, download, upload)\n2. **PDF API Hub** — sign up at [pdfapihub.com](https://pdfapihub.com) and connect your API key\n3. **SMTP / Email** — connect your mail provider (Gmail, Zoho, etc.) to the Send Email node",
        "height": 180,
        "width": 340,
        "color": 5
      },
      "id": "sticky-creds",
      "name": "Sticky Note - Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -60]
    },
    {
      "parameters": {
        "content": "## 📂 Folder Setup\n\n- **Trigger folder** → The Google Drive folder where unsigned PDFs will be dropped\n- **Upload folder** → The Google Drive folder where signed PDFs will be saved\n\nUpdate both folder IDs in the **Google Drive Trigger** and **Upload file** nodes.",
        "height": 180,
        "width": 340,
        "color": 4
      },
      "id": "sticky-folders",
      "name": "Sticky Note - Folders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, 160]
    },
    {
      "parameters": {
        "content": "## 📤 Output Options\n\nThe **Output Router** reads the `output` field set in Config:\n\n- `drive` → Signed PDF is uploaded to your Google Drive folder\n- `email` → Signed PDF is emailed to the address in the `email` field\n\nBoth routes end at the **Log** node which records the filename and signed status.",
        "height": 200,
        "width": 340,
        "color": 6
      },
      "id": "sticky-output",
      "name": "Sticky Note - Output",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 160]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [{ "node": "Download file", "type": "main", "index": 0 }]
      ]
    },
    "Download file": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "Is PDF?", "type": "main", "index": 0 }]
      ]
    },
    "Is PDF?": {
      "main": [
        [{ "node": "Sign a PDF with a signature image", "type": "main", "index": 0 }]
      ]
    },
    "Sign a PDF with a signature image": {
      "main": [
        [{ "node": "Output Router", "type": "main", "index": 0 }]
      ]
    },
    "Output Router": {
      "main": [
        [{ "node": "Upload file", "type": "main", "index": 0 }],
        [{ "node": "Send Email", "type": "main", "index": 0 }]
      ]
    },
    "Upload file": {
      "main": [
        [{ "node": "Log", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [
        [{ "node": "Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
